<div class="ajustes-globales-main">

    <mat-toolbar class="mb-3">
        <span>Ajustes</span>
        <span class="spacer"></span>
    </mat-toolbar>

    <div class="container">
        <div class="card">
            <ul class="list-group list-group-flush h5">
              <li class="list-group-item cursor-mano" [routerLink]="'/app/ajustes/categorias'">Ajustes de categorias</li>
              <li class="list-group-item cursor-mano">Otros ajustes</li>
            </ul>
          </div>
    </div>

</div>